<main>
  <h1>{{userObj.username}}'s Articles</h1>
  
  <div clas="test"></div>
  {{#each articles}}
    {{> articleCard}}
  {{/each}}

  {{#each pages}}
    <a href="/user/{{this.id}}/articles?p={{this.p}}" class="">{{this.p}}</a>
  {{/each}}
</main>