<main>
  <h1>User</h1>
  <h2>{{userObj.username}}</h2>
</main>

{{!-- <nav class="profileSidenav"> --}}
  <ul>
    <li><a href="/user/{{userObj._id}}/articles">Articles</a></li>
    
  </ul>
{{!-- </nav> --}}